/* DETALLES DEL PERSONAJE */
.row {
    padding-top: 50px;
}

.name {
    color: #029108;
    text-align: center;
}
.text-muted{
    display: flex;
    justify-content: space-between;
}
.details{
    color: rgb(90, 90, 250);
}

.card-img-top {
    opacity: 1 !important;
}

@media(max-width:767px) {
    .row {
        padding-top: 201px;
    }
}